<p>
  <span class="copyright">Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -</span>
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
<div class="right">
    <a target="_blank" href="mailto:contact@coconauts.net" class="social-footer-email"></a>
    <a target="_blank" href="http://twitter.com/coconauts" class="social-footer-twitter"></a>
    <a target="_blank" href="https://www.facebook.com/pages/Coconauts/268867943273399" class="social-footer-facebook"></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC-L-wHR5HUG_nABI4aiMPuw" class="social-footer-youtube"></a>
</div>

<!--Start Cookie Script-->
<script type="text/javascript" charset="UTF-8" src="http://cookie-script.com/s/56dfddb8334d8da5a8f786a2ff88c319.js"></script>
 <!--End Cookie Script-->
