<p>
  <span class="copyright">Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -</span>
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
<div class="right">
    <a target="_blank" href="mailto:contact@coconauts.net" class="social-footer-email"></a>
    <a target="_blank" href="http://twitter.com/coconauts" class="social-footer-twitter"></a>
    <a target="_blank" href="https://www.facebook.com/pages/Coconauts/268867943273399" class="social-footer-facebook"></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC-L-wHR5HUG_nABI4aiMPuw" class="social-footer-youtube"></a>
</div>


<!-- Begin Cookie Consent script https://github.com/dobarkod/cookie-banner -->
<script type="text/javascript" id="cookiebanner"
  src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.0.0/cookiebanner.min.js">
</script>
<!-- End Cookie Consent script -->
