---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts limit:5 -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.excerpt }}
      <p></p>
      {%- if post.content != post.excerpt -%}
      <a href="{{ post.url | relative_url }}" class="read-more">{{ site.excerpt_link | default: "Read on &rarr;" }}</a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {%- if site.posts.size > 5 -%}
  <div class="view-all-posts">
    <a href="/all" class="view-all-link">View All Posts</a>
  </div>
  {%- endif -%}

  <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
  {%- endif -%}

</div>